<div class="p-main">
  <div class="main-content setting_main-content">

    <ul class="side-panel list-style-none">
      <li >
        <%= link_to edit_user_registration_path do %>
          <i class="far fa-user mr-3 text-decoration-none"></i> Profile
        <% end %>
      </li>

      <li >
        <%= link_to edit_user_registration_path do %>
          <i class="far fa-calendar mr-3"></i> Bookings
        <% end %>
      </li>
      <li>
        <%= link_to favorites_path do %>
          <i class="far fa-bookmark mr-3"></i> Favorites
        <% end %>
      </li>
      <li>
        <%= link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete do %>
          <i class="fas fa-user-alt-slash mr-3"></i>Cancel my account
        <% end %>
      </li>
    </ul>

    <div class="account-info">
      <div class="card-body">
        <div class="acc-font-size"><p>Account information </p></div>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <%= f.input :username, required: true, autofocus: true %>

            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Save",class: "btn-login-page mt-3" %>
          </div>

        <% end %>


  <%#
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
