<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag @order.experience.photo_url, width: '100%' %></div>
    <div class="col">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>EXPERIENCE</strong> <%= @order.experience.name %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
    </div>
  </div>
</div>




<%# <div class="container">
  <h1 class="my-3">Cart</h1>
  <div class="cart-flex">
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="bills">
      <p>Total price:</p>
      <p class="btn btn-flat float-right">Pay now</p>
    </div>
  </div>
</div> %>
