<div class="background">
  <%# <div class="container">

    <div class="input-group">
    <div class="form-outline">
      <input id="search-input" type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button id="search-button" type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>

  </div> %>

  <div class="landing-btns-grp d-flex">
    <%= link_to "Login", new_user_session_path, class: "landing-btn" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "landing-btn" %>
  </div>

  <div class="container-landing">
    <div class="mb-5">
      <%= image_tag(asset_path('logo-white.png'), {class: 'landing-logo'}) %>
        <%= form_tag experiences_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control search-bar",
              placeholder: "Find an experience"
          %>
          <%= submit_tag "Search", class: "btn btn-primary btn-submit" %>
      <% end %>
      <%= link_to "Take a Gambly", sample_experiences_path, class: "btn-landing-routes" %>
      <%= link_to "View all experiences", experiences_path, class: "btn-landing-routes" %>
    </div>
  </div>

<!-- This is the form I want below -->
    <%# <div class="box">
      <form name="search">
        <input type="text" class="input" name="txt" 
        onmouseout="document.search.txt.value = ''">
      </form>
      <i class="fas fa-search"></i>
    </div> %>
</div>
