<div class="background">
  <%# <div class="container">

    <div class="input-group">
    <div class="form-outline">
      <input id="search-input" type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button id="search-button" type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>

  </div> %>

  <div class="landing-btns-grp d-flex">
    <%= link_to "Login", new_user_session_path, class: "landing-btn" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "landing-btn" %>
  </div>

  <div class="container-landing">
    <div class="landing-wrapper">

      <div class="landing-img">
        <%= image_tag(asset_path('logo-white.png')) %>
      </div>

      <div class="m-2">
        <%= simple_form_for :experience, url: experiences_path, method: :get do |f| %>
          <div class="search-form-control mt-3 ">
            <input class="form-control required " type="text" name="query" id="query" />
            <button name="button" type="submit" class="button-none" >
              <i class="fas fa-search search-icon"></i>
            </button>
          </div>
        <% end %>
      </div>

      <div class="btn-wrapper row px-3">
        <div class="text-center col-6 btn-border">
            <%= link_to "Take a Gambly", experiences_path %>
        </div>

        <div class="text-center col-6 btn-border">
          <%= link_to "View all experiences", experiences_path %>
        </div>
      </div>

    </div>
  </div>

<!-- This is the form I want below -->
    <%# <div class="box">
      <form name="search" action="/experiences" method="get">
        <input type="text" class="input" name="query" id="query"
        onmouseout="document.search.query.value = ''">
      </form>
      <i class="fas fa-search"></i>
    </div> %>
</div>
