<div class="cards">

    <% @experiences.each do |experience| %>
        <%= link_to experience_path(experience) do  %>

          <%= image_tag experience.poster_url, alt: experience.name, class: 'rounded-top'%>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
            <p ><%= experience.name %> </p>
            <p><%= experience.details %></p>
            <p><%= experience.price %></p>
          </div>

        <% end %>
    <% end %>

</div>

  <%= form_tag experiences_path, method: :get do %>
  <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a experience"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
