

<div class="container my-5">

  <div class="cards">

      <% @experiences.each do |experience| %>
          <%= link_to experience_path(experience) do  %>
            <img src=<%= experience.photo_url%> class="experience-img">
            <div class="rounded-bottom p-3 d-flex flex-column background-white">
              <strong><%= experience.name %> </strong>
              <small class="text-muted"><%= experience.details %></small>
              <small class="text-muted"><%= experience.price %></small>
            </div>
          <% end %>
      <% end %>

  </div>

</div>
