<!--------- banner --------->
<div class="exp-index-banner scroller">
  <div class="main-banner h-100">
    <%= image_tag(asset_path('orchard.jpg'),style: "width:100%; height:480px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)") %>
  </div>

  <div class="main-banner h-100">
    <%= image_tag(asset_path('theme_park.jpg'),style: "width:100%; height:480px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)") %>
  </div>

  <div class="main-banner h-100">
    <%= image_tag(asset_path('roberto-nickson-qxD1jo7KW70-unsplash.jpg'),style: "width:100%; height:480px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)") %>
  </div>
</div>

  <!------ banner/search bar ------>
  <div class="container-landing-small">
        <div class="landing-wrapper">

      <div class="landing-img">
        <%= image_tag(asset_path('logo-white.png')) %>
      </div>
      <div class="search-subtext">
        <h5>Take a chance on life!</h5>
      </div>
      <div class="pt-2">
        <%= simple_form_for :experience, url: results_experiences_path, method: :get do |f| %>
          <div class="search-form-control mt-3 ">
            <input class="form-control required round-searchbar" type="text" name="query" id="query" />
            <button name="button" type="submit" class="button-none" >
              <i class="fas fa-search search-icon search-icon-landing"></i>
            </button>
          </div>
        <% end %>
      </div>

      <div class="btn-wrapper d-flex justify-content-around">
        <div class="landing-btn-div p-3">
          <%= link_to "Take a Gambly", sample_experiences_path, class:"landing-btn-main p-3 " %>
        </div>
        <div class="landing-btn-div p-3">
          <%= link_to "View all experiences", experiences_path, class:"landing-btn-main p-3" %>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="container--width">

  <div class="navigation-bar">
  </div>
  <h1 class="chelsea-purple" id="index-h1">You are now viewing all the available experiences!</h1>
  <div class="outer-card">


  <!--------- cards ---------->

      <div class="experiences-cards my-4 d-flex">

        <!--- dropdown list for location filter --->
        <div class="location-filter-panel">
          <h2 style="font-size:18px;" class="text-center"><strong><label>Location</label></strong></h2>
            <div class="location-form mt-4">
              <form action="/experiences/filter" method="get" >
                  <div style="height: 30px">
                    <select name="filter" class="w-100 h-100">
                      <option>North</option>
                      <option>South</option>
                      <option>East</option>
                      <option>West</option>
                    </select>
                  </div>
                  <div class="mt-4">
                    <button class="btn-search">Search</button>
                  </div>
              </form>
          </div>
        </div>

        <div class="cards">
            <% @experiences.each do |experience| %>
              <div class="experience-card">
                <%= link_to experience_path(experience) do  %>

                    <img src=<%= experience.photo_url%> class="experience-img">
                    <div class="card-details p-3 d-flex flex-column ">

                      <div style="height:4.1rem">
                        <strong>
                          <% if experience.name.length > 45 %>
                            <p><%= experience.name.slice(0..45) %>...</p>
                          <% else %>
                            <p><%= experience.name %></p>
                          <% end %>
                        </strong>
                      </div>
                      <div class="flex-row">
                        <span>Rating: <%= experience.rating %></span>
                          <% experience.rating.to_i.times do |i| %>
                            <span><i class="fas fa-star"></i></span>
                          <% end %>
                      </div>
                      <div>
                        <small class="text-muted"> Book now for today </small>
                      </div>

                      <div class="mt-1">
                        <p class="m-0"> $<%= experience.price %> </p>
                      </div>
                    </div>

                <% end %>
              </div>
            <% end %>

        </div>
      </div>

  </div>
</div>
