<div class="container mt-5">
  <div class="card-trip">
    <img src=<%=@experience.photo_url%> />
    <div class="heart">
        <% if current_user && current_user.favorited?(@experience) %>
          <%= link_to favorite_path(@favorite), method: :delete do  %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to experience_favorites_path(@experience), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
    </div>

    <div class="card-trip-container p-3">
      <div class="card-trip-infos">
        <h2><%= @experience.name.capitalize %></h2>
        <div class="experience-details">
          <% @experience.details.split('@').each do |detail| %>
            <p>• <%= detail %></p>
          <% end %>
        </div>
        <p><%= @experience.details %></p>
        <br>
        <div class="experience-review-header">
          <h2>Reviews</h2>
          <%= link_to "Add a review", new_experience_review_path(@experience), class: 'btn btn-ghost' %>
        </div>
        <div class="experience-review-container">
          <% @experience.reviews.each do |review| %>
            <p><%= review.content %></p>
          <% end %>
        </div>
        <br>
        <%= link_to "Back", experiences_path, class: 'btn btn-primary' %>
      </div>

      <div class="card-trip-checkout">
        <h3 class="card-trip-pricing float-right"><%= humanized_money_with_symbol(@experience.price) %></h3>
          <%= hidden_field_tag 'experience_id', @experience.id %>
          <button
          class='btn btn-primary'
          data-toggle="modal"
          data-target="#exampleModal"
          data-experience-name="<%= @experience.name %>"
          data-experience-price="<%= @experience.price %>"
          data-experience-id="<%= @experience.id %>">
            Book now
          </button>
      </div>
    </div>
    <br>
  </div>
</div>

<%# Modal %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-current-experience-id="nil">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Booking</h5>
        <p class="text-muted modal-price">SGD</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="experience-name" class="col-form-label">Number of Pax:</label>
            <input type="number" class="form-control" id="experience-pax">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal" data-dismiss="modal">Add to Cart</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
