<div class="container mt-5">
  <div class="card-trip">
    <img src=<%=@experience.photo_url%> />
    <div class="heart">
        <% if current_user && current_user.favorited?(@experience) %>
          <%= link_to favorite_path(@favorite), method: :delete do  %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to experience_favorites_path(@experience), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
    </div>

    <div class="card-trip-container p-3">
      <div class="card-trip-infos">
        <h2><%= @experience.name.capitalize %></h2>
        <div class="experience-details">
          <% @experience.details.split('@').each do |detail| %>
            <p>• <%= detail %></p>
          <% end %>
        </div>
        <p><%= @experience.details %></p>
      </div>

      <div class="card-trip-checkout">
        <h3 class="card-trip-pricing float-right"><%= humanized_money_with_symbol(@experience.price) %></h3>
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'experience_id', @experience.id %>
          <button
          class='btn btn-primary'
          data-toggle="modal"
          data-target="#exmapleModal"
          data-experience-name="<%= @experience.name %>"
          data-experience-price="<%= @experience.price %>"
          data-experience-id="<%= @experience.id %>">
            Book now
          </button>
        <% end %>
      </div>
    </div>
    <%= link_to "Back", experiences_path%>
  </div>
</div>

<%# Modal %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bookings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="experience-name" class="col-form-label">Experience:</label>
            <input type="text" class="form-control" id="experience-name">
          </div>
          <div class="form-group">
            <label for="experience-price" class="col-form-label">Amount</label>
            <textarea class="form-control" id="experience-price">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
