<div class="container mt-5">
  <div class="card-trip">
    <img src=<%=@experience.photo_url%> />
    <div class="heart">
      <%= link_to experience_favorites_path(@experience), method: :post do  %>
        <% if current_user && current_user.favorited?(@experience) %>
          <i data-experience-id=<%= @experience.id %> class="fas fa-heart"></i>
        <% else %>
          <i data-experience-id=<%= @experience.id %> class="far fa-heart"></i>
        <% end %>
      <% end %>
    </div>

    <div class="card-trip-container p-3">
      <div class="card-trip-infos">
        <h2><%= @experience.name.capitalize %></h2>
        <div class="experience-details">
          <% @experience.details.split('@').each do |detail| %>
            <p>• <%= detail %></p>
          <% end %>
        </div>
        <p><%= @experience.details %></p>
      </div>

      <div class="card-trip-checkout">
        <h3 class="card-trip-pricing float-right">$<%= @experience.price %></h3>
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'experience_id', @experience.id %>
          <%= submit_tag 'Book now', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <%= link_to "Back", experiences_path%>
  </div>
</div>
